@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* styles/globals.css */
body {
  font-family: "League Gothic", sans-serif;
}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #BEBEBE;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #A0A0A0;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #BEBEBE #F5F5F5;
}
